{
    "root": true,
    "env": {
        "es6": true,
        "node": true,
        "browser": false
    },
    "plugins": [
        "import"
    ],
    "extends": [
        "@hckrnews/eslint-config",
        "plugin:import/recommended",
        "plugin:n/recommended",
        "plugin:jsdoc/recommended"
    ],
    "rules": {
        "import/extensions": [
            "error",
            "ignorePackages",
            {
                "js": "always"
            }
        ],
        "jsdoc/require-param-description": "off",
        "jsdoc/require-property-description": "off",
        "jsdoc/require-returns-description": "off"
    },
    "parserOptions": {
        "sourceType": "module",
        "ecmaVersion": "latest",
        "parser": "@babel/eslint-parser",
        "babelOptions": {
            "configFile": "./babel.config.cjs"
        }
    },
    "settings": {
        "jsdoc": {
            "mode": "typescript"
        }
    },
    "overrides": [
        {
            "files": [
                "**/__tests__/*.{j,t}s?(x)",
                "**/tests/unit/**/*.spec.{j,t}s?(x)"
            ],
            "env": {
                "jest": true
            }
        }
    ]
}
