{
    "all": true,
    "include": [
        "src/**/*.js"
    ],
    "exclude": [
        "**/*.test.js",
        "**/*.spec.js"
    ],
    "reporter": [
        "text",
        "text-summary",
        "lcov",
        "clover"
    ],
    "check-coverage": true,
    "watermarks": {
        "lines": [
            80,
            95
        ],
        "functions": [
            80,
            95
        ],
        "branches": [
            80,
            95
        ],
        "statements": [
            80,
            95
        ]
    }
}
